
/** Styles */



button {
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

/* Day-Modus*****/

body.day {
    background-color: rgb(216, 216, 216);
}

p.day,h1.day{
    color:black;
}



/* Night-Modus*****/

body.night {
    background-color: rgb(29, 28, 28);
}

p.night,h1.night{
    color: whitesmoke;
}